<html>
    <head>
        <title>首页</title>
    </head>
    <body>
        <h1>Xapian</h1>

        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div>
            {{ form.statement.label }}
            {{ form.statement() }}
            </div></br>
            <div>
            {{ form.scheme.label }}
            {{ form.scheme() }}
            </div></br>
            <div>
            {{ form.submit() }}
            </div></br>
        </form>
        {% if statement %}
            {% for row in statement %}
                <p>{{ row }}</p>
            {% endfor %}
        {% else %}
            <p>No corresponding result!</p>
        {% endif %}
    </body>
</html>
